/* Configurações gerais da página */
body {
    margin: 0;
    padding: 0;
    background-color: #fffbd1;
    font-family: cursive, system-ui;
    display: flex;
    flex-direction: column; /* Alinha elementos um por baixo do outro */
    align-items: center;    /* Centra horizontalmente */
    min-height: 100vh;
}

header {
    margin-top: 50px;
    text-align: center;
}

.capa {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Garante que a foto não fica esticada */
}

.h1-index {
    font-family: cursive;
    color: #e80000;
}

.h1-cg {
    font-family: cursive;
    color: #671eb0;
}

.h2-cg {
    font-family: cursive;
    color: #671eb0;
}

.h1-sx {
    font-family: cursive;
    color: #e80000;
}

.h2-sx {
    font-family: cursive;
    color: #e80000;
}

.sam-h1 {
    font-family: cursive;
    color: #ff66c4;
}

.sam-h2 {
    font-family: cursive;
    color: #ff66c4;
}

.bio {
    font-family: system-ui;
    color: #615f45;
    font-style: italic;
}

/* Contentor dos botões */
.links-container {
    width: 90%;
    max-width: 400px;
    margin-top: 40px;
}

/* Estilo dos botões (links) */
.btn {
    display: block;
    background-color: #3498db;
    font-family: cursive;
    color: #1a1a1a;
    color: white !important; 
    text-decoration: none; /* Remove o sublinhado */
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 12px;   /* Cantos suaves */
    text-align: center;
    font-weight: bold;
    transition: 0.3s;      /* Suaviza a animação de toque */
}

.btn-cg {
display: block;
background-color: #671eb0; 
font-family: cursive;
color: #1a1a1a;
color: white !important;
text-decoration: none; /* Remove o sublinhado */
padding: 18px;
margin-bottom: 15px;
border-radius: 12px;   /* Cantos suaves */
text-align: center;
font-weight: bold;
transition: 0.3s;
}

.btn-sx {
display: block;
background-color: #cf0606; 
font-family: cursive;
color: #1a1a1a;
color: white !important;
text-decoration: none; /* Remove o sublinhado */
padding: 18px;
margin-bottom: 15px;
border-radius: 12px;   /* Cantos suaves */
text-align: center;
font-weight: bold;
transition: 0.3s;
}

/* Cor de destaque para o botão da PAP */
.btn-pap {
display: block;
background-color: #3498db; 
font-family: cursive;
color: #1a1a1a;
color: white !important;
text-decoration: none; /* Remove o sublinhado */
padding: 18px;
margin-bottom: 15px;
border-radius: 12px;   /* Cantos suaves */
text-align: center;
font-weight: bold;
transition: 0.3s;
}

/* Estilo para o conteúdo descritivo */
.pap-content {
background: rgba(212, 209, 174);
padding: 20px;
border-radius: 12px;
margin-bottom: 20px;
text-align: center;
}

.papimage{
text-align: center;
}

.pap-text {
font-family: system-ui;
font-size: 0.9em;
line-height: 1.5;
color: #050505;
text-align: center;
}

.autor {
font-family: cursive;
font-size: 0.9em;
line-height: 1.5;
color: rgba(212, 209, 174);
text-align: center;
}

/* Efeito quando o rato passa por cima (ou o dedo toca) */
.btn:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-3px); /* Pequeno salto para cima */
}

.btn-pap:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-3px); /* Pequeno salto para cima */
}

.btn-cg:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-3px); /* Pequeno salto para cima */
}

.btn-sx:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-3px); /* Pequeno salto para cima */
}
